<div class="row">
  <div class="col-xs col-sm-8">
    <% form_for(game, url) do |f| %>
      <%= f.error_messages %>

      <%= hidden_field_tag :_method, value: method %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :preferred_security_group %>
        <%= f.select :preferred_security_group, options: security_group_options, class: "form-control" %>
      </div>

      <div class="form-group mb-2">
        <%= f.label :tag %>
        <%= f.text_field :tag, class: "form-control" %>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          La etiqueta se usa internamente para identificar los recursos en AWS.
        </div>
      </div>

      <div class="form-group mb-5">
        <%= f.label :iam_instance_profile_name %>
        <%= f.text_field :iam_instance_profile_name, class: "form-control" %>
      </div>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
